[Unit]
Description=SG Boot
After=network.target

[Service]
ExecStart=/home/pi/proj/sensorgnome/scripts/boottime_compute.sh

[Install]
WantedBy=multi-user.target