[Unit]
Description=SG Boot
After=station-boot.service

[Service]
ExecStart=/lib/ctt/sensorgnome/sensorgnome/scripts/boottime_compute.sh

[Install]
WantedBy=multi-user.target