[Unit]
Description=SG Boot
After=network.target

[Service]
ExecStart=/lib/ctt/sensorgnome/sensorgnome/scripts/boottime_compute.sh

[Install]
WantedBy=multi-user.target